body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px !important;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.board-row {
    width: 100%;
}

.te-my-turn {
    border: 1px solid #9c9c9c !important;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.game-info {

}

.game-board {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.board-loading {
    opacity: 0.5;
    position: relative;
}

.board-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    height: calc(90vh - 56px);
}

.te-game-layout {
    height: -webkit-fill-available;
}

.te-game-content {
    padding: 0 5vw;
    margin-top: 5vh;
}
.anticon {
    vertical-align: 1px !important;
}

.te-register-form {
    height: 100%;
}

.te-header {

}

.te-active-user {
    font-style: italic;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
    color: #89adc5;
    text-align: center;
    font-size: 3vw;
}
.te-avatar {
    font-style: italic;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
    background: #89adc5 !important;
    text-align: center;
    font-size: 3vw;
}

.te-logout {
    font-style: italic;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 100;
    color: #89adc5;
    text-align: center;
    font-size: 1.5vh;
}

.cursor-pointer {
    cursor: pointer !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


html, body {
    width: 100%; height: 100%;
    overflow: hidden;
    touch-action: none;
}

.te-logo {
    max-width: 200px;
    width: 60vw;
    align-self: center;
    text-align: center;
}

.te-logo-header {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.te-stats {

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    width: 35vw;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 14px 26px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 26px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 26px -17px rgba(0,0,0,0.75);
    margin: 3vw 0.5vw;
}

.te-winner-stat-title {
    font-size: 4vw;
    height: 6vw;
}

.te-win-stat {
    font-size: 4vw;
    height: 6vw;
    font-weight: bold;
}

.te-start-again-button {
    top: 1vh;
}

.choose-text {
    background: -webkit-linear-gradient(#48c6ef, #6f86d6);
    font-weight: bolder;
    font-family: "Arial Rounded MT Bold";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
